#dZUpload {
    height: 94%;
    border : 1px solid skyblue;
}
.dropzone, .outerDropzone, .formfield {
    height:98%;
    width: 100%;
}
#upload_image {
    margin-top: 22%;
    width: 114px;
    height: 114px;
    color: skyblue;
    cursor: pointer;
}
#img_upload {
    width: 58.5%;
    height: 830px;
    margin-left: 20px;
    text-align: center;
    padding:20px;
}
#jsCanvas{
    margin-top: 30px;
}

.dz-button {
    margin-top: 21%;
    width: 100%;
    height: 94%;
}


#my-dropzone {
    margin-top: 17px;
    margin-bottom: 4px;
    height: 97%;
    border: 4px dashed skyblue;
}